@media screen and (max-width: 1005px){
    body{
        width: 90%;
    }

    .header{
        margin-top: 12%;
    }

    img{
        flex: 10%;
    }

    h2{
        font-size: 22px;
        margin-top: 5%;
    }

    h4{
        margin-top: 5%;
    }

    .text{
        flex: 55%;

        font-size: 16px;
    }

    .size{
        font-size: 26px;
    }

    .cursive{
        font-size: 22px;
        margin-top: 5%;
    }

    .top{
        margin-top: 5%;
    }
}
